:root {
  --white: hsl(0, 0%, 100%, 0.75);
  --lightgray: hsl(0, 0%, 95%);
  --orange: hsl(31, 77%, 52%);
  --lightturquoise: hsl(184, 100%, 22%);
  --darkturquoise: hsl(179, 100%, 13%);

}


html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--white);
  background-color: var(--lightgray);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}



.container {
  display: flex;
  flex-direction: column;
  max-width: 20.375rem;
  margin-top: 5.5rem;
}


.card {
  padding: 3rem;

  
}

.one {
  background-color: var(--orange);
  border-radius: 0.75rem 0.75rem 0 0;
}

.two {
  background-color: var(--lightturquoise);
}

.three {
  background-color: var(--darkturquoise);
  border-radius: 0 0 0.75rem 0.75rem;
}


h5 {
  margin: 2.25rem 0;
  font-size: 2.25rem;
  font-family: 'Big Shoulders Display', "sans serif";
  text-transform: uppercase;
}

p {
  font-size: 0.9375rem;
  font-family: "Lexend Deca", "sans serif";
  line-height: 1.6;
  margin-bottom: 1.75rem;

}

/* BUTTONS */

button {
  display: inline-block;
  border: 2px solid var(--white);
  max-width: 9.25rem;
  padding: 1rem 2rem; 
  border-radius: 1.5rem;
  cursor: pointer;
  transition-duration: all 0.4s;

}

.one button {
  color: var(--orange)
  
}

.two button {
  color: var(--lightturquoise)
}

.three button {
  color: var(--darkturquoise)
}

button:hover {
  color: var(--white);
  background-color: transparent;

}

footer {
  position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 11px;
  text-align: center;
  color: black;
   
} 

/* .attribution {
  margin-top: 2rem;
  
} */

/* TABLET up to 768 */
@media only screen and (min-width: 540px) {
  .container {
    max-width: 30rem;
  }

  

}


/* desktop  */
@media only screen and (min-width: 769px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: row;
    max-width: 57rem;
    min-height: 31.5rem;
}

.one {
  border-radius: 0.75rem 0 0 0.75rem ;
  
}

.three {
  border-radius: 0 0.75rem 0.75rem 0;
  
}

p {
  margin-bottom: 5rem;
  }



 
}


